<ion-header>
	<ion-navbar>
		<ion-title>
			联系人
		</ion-title>
	</ion-navbar>
</ion-header>

<ion-content padding>
	<!-- <ion-list>
		<ion-item-sliding>
			<ion-item *ngFor="let wh of wareHouseList">
				<ion-avatar item-left>
					<img src={{wh.img}}>
				</ion-avatar>
				<h2>{{wh.name}}</h2>
				<p>{{wh.desc}}</p>
			</ion-item>
			<ion-item-options side="left">
				<button ion-button color="primary">
					<ion-icon name="text"></ion-icon>
					Text
				</button>
				<button ion-button color="secondary">
					<ion-icon name="call"></ion-icon>
					Call
				</button>
			</ion-item-options>
			<ion-item-options side="right">
				<button ion-button color="primary">
					<ion-icon name="mail"></ion-icon>
					Email
				</button>
			</ion-item-options>
		</ion-item-sliding>
	</ion-list> -->
<!-- 	<ion-list>
		<ion-list-header>WareHouse</ion-list-header>
		<ion-item *ngFor="let wh of wareHouseList" (click)="itemClick($event,wh)">
			{{wh.name}}
		</ion-item>
	</ion-list> -->

<!-- 	<ion-item-group>
		<ion-item-divider color="light">A1</ion-item-divider>
		<ion-item>Angola</ion-item>
		<ion-item>Argentina</ion-item>
		<ion-item>Australia</ion-item>
		<ion-item-divider color="light">B</ion-item-divider>
		<ion-item>Bangladesh</ion-item>
		<ion-item>Belarus</ion-item>
		<ion-item>Belgium</ion-item>
	</ion-item-group> -->
<!-- 	<ion-list>
		<ion-item>
			<ion-icon name="leaf" item-left></ion-icon>
			item-left
		</ion-item>
		<ion-item>
			<ion-icon name="rose" item-right></ion-icon>
			item-right
		</ion-item>
		<ion-item>
			<ion-icon name="rose" item-right large>large</ion-icon>
		</ion-item>
	</ion-list> -->
	<ion-list>
		<ion-item-sliding>
			<ion-item>
				<ion-avatar item-left>
					<img src="img/1.jpg">
				</ion-avatar>
				<h2>皮卡丘</h2>
			</ion-item>
			<ion-item-options side="left">
				<button ion-button color="primary">
					<ion-icon name="text"></ion-icon>
					Text
				</button>
				<button ion-button color="secondary">
					<ion-icon name="call"></ion-icon>
					Call
				</button>
			</ion-item-options>
			<ion-item-options side="right">
				<button ion-button color="primary">
					<ion-icon name="mail"></ion-icon>
					Email
				</button>
			</ion-item-options>
		</ion-item-sliding>
	</ion-list>
</ion-content>
